/* TITULOS */
.entrada h1 {
  @apply text-6xl;
}
.entrada h1 {
  @apply script-font;
}
.entrada h1 {
  @apply font-bold;
}
.entrada h1 {
  @apply text-tinto;
}
/* TTITULO H2 */
.entrada h2 {
  @apply text-4xl;
}
.entrada h2 {
  @apply font-bold;
}
.entrada h2 {
  @apply text-tinto;
}
/* STRONG */
.entrada strong {
  @apply script-font;
}
.entrada strong {
  @apply text-rosa;
}
.entrada strong {
  @apply script-font;
}
.entrada strong {
  @apply text-4xl;
}
.entrada strong {
  @apply font-bold;
}
/* ITALIC */
.entrada i strong{
  @apply script-font;
}
.entrada i strong{
  @apply text-verde;
}
.entrada i strong{
  @apply script-font;
}
.entrada i strong{
  @apply text-4xl;
}
.entrada i strong{
  @apply font-bold;
}
/* UNDERLINE */
.entrada strong u{
  @apply script-font;
}
.entrada strong u{
  @apply text-amarillo-DEFAUL;
}
.entrada strong u{
  @apply script-font;
}
.entrada strong u{
  @apply text-4xl;
}
.entrada strong u{
  @apply font-bold;
}
.entrada strong u{
  text-decoration: none;
}

.script-font {
  font-family: 'Script-font';
}

/* listas */
.entrada ul {
  list-style-type: square;
}

.entrada ul {
  @apply font-bold;
}
.entrada ul {
  @apply align-middle;
}
.entrada ul {
}
.entrada ul {
  @apply pr-2;
}
